
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px) rotate(20deg); }
    50% { transform: translateX(-5px) rotate(-20deg); }
    75% { transform: translateX(5px) rotate(20deg); }
    100% { transform: translateX(0); }
  }

  .fixed-emoji-container {
    position: relative; 
    overflow: hidden;
    top: 20px;
    left: 20px;
  }
  
  .shake-emoji {
    display: inline-block;
    animation: shake 2s ease-in-out infinite;
    position: fixed;
    
 
  }
  